<mat-card class="mat-elevation-z1 full-height no-padding" [ngClass]="{'card-big':
    mode ===
    'big', 'card-small': mode === 'small'}">

  <mat-nav-list [@.disabled]="true" *ngIf="mode === 'big'">
    <a mat-list-item (click)="navigateTo('students')" [ngClass]="{ active: activatedModule.students
            }">
      <mat-icon mat-list-icon>person</mat-icon>
      <span mat-line>Students</span>
    </a>
    <a mat-list-item (click)="navigateTo('marks')" [ngClass]="{ active: activatedModule.marks
            }">
    <mat-icon mat-list-icon>person</mat-icon>
    <span mat-line>Marks</span>
    </a>

  </mat-nav-list>

  <mat-nav-list *ngIf="mode === 'small'">
    <a mat-list-item [href]="backLink">
      <mat-icon mat-list-icon>arrow_back</mat-icon>
    </a>
    <a mat-list-item (click)="navigateTo('students')" [ngClass]="{ active: activatedModule.students
            }">
      <mat-icon mat-list-icon>person</mat-icon>
    </a>
    <a mat-list-item (click)="navigateTo('marks')" [ngClass]="{ active: activatedModule.marks
    }">
    <mat-icon mat-list-icon>person</mat-icon>
    </a>
  </mat-nav-list>
</mat-card>